* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(234, 234, 234);
}

body {
  padding: 60px;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

h1 {
  margin: 10px;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.card-grid .fb-more {
  margin-top: 20px; /* Espacio entre el botón y el resto del contenido */
}

.card {
  align-content:end;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: row;
  height: 0%;  
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.card p {
  background-color: white;
  flex: 1;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
}

.card img {
  width: 100%;
  height: 100%;
  
}

.card button {
  background-color:rgb(241, 232, 232);
  display: flex;
  border-radius: 10px;
  margin-right: 10px;
}

.fb-more {
  background-color: #52c41a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}



.fb-edit {
  background-color: #1890ff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}


.bt-eliminar {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}

/* Estilo para el contenedor principal */
.main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para el contenedor del modal */
.modal-container {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Estilo para los inputs del modal */
.modal-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilo para los botones del modal */
.modal-footer {
  display: flex;
  justify-content: center;
}

/* Estilo para el botón de enviar */
.modal-button-send,
.modal-button-cancel {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Estilo para el botón de enviar */
.modal-button-send {
  background-color: #007bff; /* Azul */
  color: white;
}

/* Estilo para el botón de cancelar */
.modal-button-cancel {
  background-color: #dc3545; /* Rojo */
  color: white;
}


.Searcher {
  /* Adjust styles for input appearance */
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}

.GoBack {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #fadb14;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

/* DataTable styles (adjust as needed) */
.p-datatable {
  width: 100%;
  border-collapse: collapse;
}

.p-datatable .p-datatable-header {
  background-color: #f0f0f0;
}

.p-datatable th,
.p-datatable td {
  padding: 1rem;
  text-align: left;
}

/* Image column styles (adjust as needed) */
.p-datatable .w-6rem {
  height: 6rem;
  object-fit: cover; /* Ensure images fit within container */
}